*

!conf/alacritty/alacritty.yml
!conf/alacritty/alacritty_small.yml

!conf/autokey/*
!conf/autostart/autokey.desktop

!conf/compton/compton.conf

!conf/fish/conf.d/omf.fish
!conf/fish/conf.d/personal.fish
!conf/fish/fish_variables
!conf/fish/functions/fish_prompt.fish

!conf/nvim/init.vim
!conf/nvim/local_bundles.vim
!conf/nvim/personal.vim

!conf/omf/bundle
!conf/omf/channel
!conf/omf/theme

!conf/ranger/rc.local
