*

!.gitignore

!alacritty/alacritty.yml
!alacritty/alacritty_small.yml

!autokey/*
!autostart/autokey.desktop

!compton/compton.conf

!fish/conf.d/omf.fish
!fish/conf.d/personal.fish
!fish/fish_variables
!fish/functions/fish_prompt.fish

!nvim/init.vim
!nvim/local_bundles.vim
!nvim/personal.vim

!omf/bundle
!omf/channel
!omf/theme

!ranger/rc.local
